*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn-outline-primary{
    border-radius: 1vw;
}
.navbar-brand{
    text-shadow:-3px 3px 3px rgb(0, 0, 0);
    text-indent: 20px;
    
}
#head{
    color: rgb(0, 36, 64);
    font-weight: 500;
}

#head:hover{
    color: rgb(4, 64, 244);
}
.one{
    margin-top: 5vw;
    height: 50vh;
    background-color: rgb(193, 255, 255);
}
.four{
    
    place-items: center;
   background-color: rgb(255, 255, 255);;
}
.five{
    height: 35vw;
    background-size: 100vh;
    border: solid  30px white;
    background-image: url(https://images.pexels.com/photos/1105666/pexels-photo-1105666.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    
}
.seven{
    background-size: 100vh;
    height: 35vw;
    border: solid  30px white;
    background-image: url(https://images.pexels.com/photos/236111/pexels-photo-236111.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}
.seven:hover{
    background-size:120vh;
    transition: 500ms;
    
}
.six:hover{
    background-size:120vh;
    transition: 500ms;
}
.five:hover{
    background-size:120vh;
    transition: 500ms;
}
.five:not(:hover){
    background-size: 100vh;
    transition: 500ms;
}
.six:not(:hover){
    background-size: 100vh;
    transition: 500ms;
}
.seven:not(:hover){
    background-size: 100vh;
    transition: 500ms;
}
.six{
    background-color: rgb(0, 0, 0);
    background-size: 100vh;
    height: 35vw;
    background-image: url(https://images.pexels.com/photos/1454360/pexels-photo-1454360.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    border: solid  30px white;   
}

.pr{
    font-size: 3vw;
    color: rgb(14, 9, 0);
    padding: 8vw;
    position: relative;
    top: 10vw;
    right: 1vh;
    opacity: 0;
}
.pr:hover{
    opacity: 10;
    transition: 500ms;
}
.pr:not(:hover){
    opacity: 0;

    transition: 500ms;
}
@media only screen and (max-width: 600px) {
    .four{
        visibility: hidden;
        margin: 0;
    }
   
}
.bt{
    height: 10vh;
}
@media only screen and (min-width: 600px) {
    .btn-group{
        visibility: hidden;
    }
}
.pr a{
    text-decoration: none;
    color: black !important;;
}

.more{
    height: 300px;
    background-color: antiquewhite;
    border-radius: 25px; 

}
.a{
    text-align: center;
    width: 100%;
    height: auto;
    font-size: 1rem;    
}
.thirty{
    height: 20vh;
}

.col-3 a{
    text-decoration: none;
    color: black;;
}
.fourty{
    height: 7rem;
    background-color: silver;
    border-radius: 10px;
    
}
.foot{
    text-align: center;
    
}
.add{
    height: 20vh;
      margin: 0;
    border-radius: 10px;    
}

.addd{
    position: relative;;
    top: 50%;   
    margin-left: 10%;
    overflow: hidden;
    
}
.place{
    font-size: 1vw;
}

.sixty{
    
    position: relative;;
    top: 50%;
    margin-left: 50%;
    overflow-: hidden;
}
.btn-primary{
    font-size: 2vh;
}
.fifty ul { 
    padding-top: 1vw; 
    margin: 0; 
    font-size: 1vw;
    text-align: center;
    list-style: none;
}
.fifty{
    width: 100%;
    height: auto;
}
.form{
    height: 100%;
    background-color: antiquewhite;
    border-radius: 50px;
    
}
.select{
    visibility: inherit;
}
