body{
    background-image:linear-gradient(rgba(4, 205, 219, 0.301),rgba(30, 1, 68, 0.521)) ;
   position: relative  ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}  
.nav{
    display: flex;
    float:right;
    
}
a{
    position: relative;
    top: 8px;
    text-decoration: none;
    color: rgb(56, 52, 52);
}
a:hover{
    color: rgb(226, 248, 255);
}
.head{
 
     /* background-color: rgb(15, 127, 131); */
    height:60px;
    width: 100%;
    border-bottom:solid rgb(0, 0, 0) 1px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 5px 1px 20px;
   
}
span{
    color: rgb(24, 24, 1);
    position: absolute;
    top: 13px;
    left: 47px;
    font-size: 20px;
    text-shadow: -4px -2px 3px;
}
span:hover{
    color: rgb(146, 0, 0);
   
 }
 @media only screen and (max-width: 600px) {
    .icon{
        position: absolute;
        top: 13px;
        left: 575px;
        font-size: 20px;
        text-shadow: 1px -4px 3px;
        cursor: pointer;
        visibility: visible;
    }
    .icon:hover{
        color: lightgoldenrodyellow;
        
    }
    .nav{
        /* visibility: hidden; */
    }
  }
.icon{
    /* position: absolute;
    top: 13px;
    left: 552px; */
    font-size: 20px;
    text-shadow: 1px -4px 3px;
    cursor: pointer;
    /* visibility: hidden; */
}
.icon:hover{
    color: lightgoldenrodyellow;
    
}
#one{
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(20px);
    background-color: rgba(229, 254, 255, 0.486);
    height: 338px;
    width: 100%;
    border-radius: 10px;
    /* position: absolute;
    top: 160px;
    justify-content: center; */
}
.back{
    display: block;
    /* background-color: rgb(1, 31, 31); */
    height: 100px;
   
    text-align: center;

}
#h1{
    width: 500px;
    font-size:xx-large;
    color: gray;
    position: relative;
    left: 110px;
    top: 10px;
}
#h6{
    position: absolute;
    left: 343px;
    font-size: small;
    
    color: rgba(255, 0, 0, 0.644);
}
.a{
    position: relative;
    top: 50px;
    width: 100px;
    color: rgba(2, 63, 40, 0.685);
    text-shadow: 4px 2px 2px ;
}
.top{
    background-color: rgba(238, 148, 148, 0.226);
    height: 50px;
    padding: auto;
    border-radius: 10px;
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(20px);
    cursor: pointer;
    text-align: center;
    text-justify:auto;
    
}
.btm{
    background-color: rgba(160, 160, 248, 0.37);
   
    height: 50px;
    cursor: pointer;
    margin-left: 15px;
    text-align: center;
    border-radius: 10px;
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(20px);
    text-align: center;
}

.up{
    background-color: rgba(255, 0, 200, 0.226);
    cursor: pointer;
    height: 50px;
    margin-left: 15px;
    border-radius: 10px;
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(20px);
    text-align: center;
}
.main{
    position: relative;
    top: 150px; 
    justify-items: center   ;
}
/*
#top{
    position: absolute;
    left: 18px;
}
#btm{
    position: absolute;
    top: 40px;
    left: 25px;
}
#up{
    position: absolute;
    left: 10px;
    top: 40px; */
/* } */
.top:hover{
    background-color: rgb(247, 59, 91);
    color: wheat;

}
.btm:hover{
    background-color: blue;
    color: aquamarine;
}
.up:hover{
    background-color: rgb(212, 0, 255);
    color: rgb(236, 14, 14);   
}
@media only screen and (max-width: 600px)
{
    
}
.aa{
    height: 200px;
    /* background-color: rgba(255, 235, 205, 0.87); */
    /* backdrop-filter: blur(10px); */
    width: 20%;
    margin-left: 100px;
}
.ab{
    height: 200px;
    background-color: antiquewhite;
    width: 20%;
    margin-left: 100px;
}
.ac{
    height: 200px;
    background-color: antiquewhite;
    margin-left: 100px;
    width: 20%;
}
.img{
    height: 200px;
    width: 150px;
}
#three{
    height: 100vh;
}
.about{
    height: 300px;
    background-color: rgba(255, 255, 255, 0.281);
    border-radius: 46px;
    backdrop-filter: blur(10px) !important;
    -webkit-backdrop-filter: blur(10px);
}
.more{
    height: 300px;
    background-color: antiquewhite;
    border-radius: 25px; 

}
.w-50{
    width: 65% !important;
}
.para{
    text-align: center !important;
    width: 95%;
} 

#para{
    text-align: center!important;
}
#para:hover{
    color: rgb(0, 170, 170)    ;
}
#img{
    height: 200px;
    width: 250px;
    position: absolute;
    left: 30px
}
.clg{
    font-size: small;
    position: absolute;
    top: 70%;
    left: 55px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.clg:hover{
    color: aliceblue;
}

.bt{
    position: absolute;
    top: 80%;
    left: 60px; 
}
.bottem{
   
    
    color: rgba(183, 183, 245, 0.651);
}
.down{
    height: 200px;
    background-color: rgba(161, 161, 247, 0.836);
}
.down1{
    height: 200px;
    background-color: rgb(182, 182, 250);
}
.d{
    position: relative;
    top: 30%;
}
.hel{
    height: 300px;
}
.v{
    position: absolute;
    right: 15%;
}
.add{
    height: 180px;
    width: 200px;
    position: relative;
    top: 10px;
    left: 40px;
}
.dd{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
